---
layout: page
title: Contact Me
hero: Let's work together
subtitle: Need help with a rebrand? Looking to enhance your creative team? Have an investment opporunity? Whatever it is, let's work together.
bodyclass: page-contact
bgcolorclass: bg-alt1
---

<section class="news-layout section-wrap">
    <div class="container">
      <div class="contact-wrapper">
      <div class="two-third left">
        <h6 class="section-title">How I Help</h6>
          <div class="contact-content">
            {% include svgs.html %}
          </div><!--/.contact-content-->
        </div><!--/.two-third.left-->
        <div class="one-third right">
          <h6 class="section-title">Get in Touch</h6>
            <ul class="contact-list">
              <li class="contact-list-item half"><a href="https://twitter.com/brianotoole" target="_blank">Twitter</a></li>
              <li class="contact-list-item half"><a href="https://www.quora.com/profile/Brian-OToole" target="_blank">Quora</a></li>
              <li class="contact-list-item half"><a href="https://github.com/brianotoole/" target="_blank">Github</a></li>
              <li class="contact-list-item half"><a href="{{site.baseurl}}/assets/images/BrianOToole_Resume.pdf" target="_blank">Resume</a></li>
            </ul><!--/.contact-list-->
          </div><!--/.one-third.right-->
        <div class="contact-form-wrapper pad-top">
          {% include form.html %}
        </div>
      </div><!--<!--/.contact-wrapper-->
    </div><!--/.container-->
  </section>