<footer class="footer section-wrap">
  <div class="container">
    <h2 class="section-title h5">Let's Connect<span class="dash"></span></h2>
    <ul class="row">
      <li class="col-xs-12 h3">
        <a href="mailto:jgancena@gmail.com" class="hvr-underline-from-left hvr-underline-from-left--is-white">hello (at) janelgancena.com</a>
      </li>
      <li class="col-xs-12 h3">
        <a href="http://www.linkedin.com/in/jgancena" target="_blank" class="hvr-underline-from-left hvr-underline-from-left--is-white">LinkedIn</a>
      </li>
      <li class="col-xs-12 h3">
        <a href="http://instagram.com/jgancena" target="_blank" class="hvr-underline-from-left hvr-underline-from-left--is-white">Instagram</a>
      </li>
    </ul>
  </div>
</footer>