<div class="container">
  <ul class="nav nav-primary">
    <li>
      <a href="{{site.baseurl}}/about" class="hvr-underline-from-left hvr-underline-from-left--is-nav">About</a>
    </li>
    <li class="logo" rel="logo">
      <a href="{{site.baseurl}}/" class="hidden-phone" title="Janel Gancena, Design &amp; Art Direction">Janel Gancena <span class="dash"></span> <span>Design &amp; Art Direction</span></a>
      <a href="{{site.baseurl}}/" class="logo-mark hidden-desktop">JG</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/work" class="hvr-underline-from-left hvr-underline-from-left--is-nav">Work</a>
    </li>
  </ul>
  <!--/.nav-->
</div>
<!--/.container-->
