
  <div class="container">
    <div class="row">
      
      <div class="header-main-layout">
        <a href="{{site.baseurl}}/" class="logo-container">
          logo
        </a>
        <ul class="nav-primary">
          <li><a class="nav-item" href="{{site.baseurl}}/about">About</a></li>
          <li><a class="nav-item" href="{{site.baseurl}}/work">Work</a></li>
          <li><a class="nav-item" href="{{site.baseurl}}/news">News</a></li>
          <li><a class="nav-item" href="{{site.baseurl}}/contact">Contact</a></li>
        </ul><!--/.nav-primary-->
        <a class="nav-toggle" id="js-nav-toggle">
          <span class="line line-1"></span>
          <span class="line line-2"></span>
          <span class="line line-3"></span>
        </a><!--/.nav-toggle-->
      </div><!--/.header-main-->

    </div><!--/.row-->
    <a href="{{site.baseurl}}/contact" class="header-contact-btn btn secondary rounded" aria-label="Contact Brian" title="Contact Brian">Get in Touch</a>
  </div><!--/.container-->

<div class="nav-mobile row" id="js-nav-mobile">
    <div class="col-xs-12">
      <ul class="nav-mobile-wrap">
        <li><a class="nav-item" href="{{site.baseurl}}/about">About</a></li>
        <li><a class="nav-item" href="{{site.baseurl}}/work">Work</a></li>
        <li><a class="nav-item" href="{{site.baseurl}}/news">News</a></li>
        <li><a class="nav-item" href="{{site.baseurl}}/contact">Contact</a></li>
      </ul><!--/.nav-primary-->
    </div><!--/.col-->
  </div><!--/.nav-mobile-->