// HEADER
.header {
  padding: 40px 0;
}

// NAV
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 20px 0 0;
  list-style-type: none;
  border-top: 2px solid $color-primary;
  li {
    width: auto;
    @media (max-width: $bp-md) {
      margin-top: 10px;
    }
    &.logo {
      @media (max-width: $bp-md) {
        order: -1;
        width: 100%;
        margin-top: 0;
      }
    }
  }
  span {
    color: $color-secondary;
  }
  a {
    text-decoration: none;
  }
  .dash {
    position: relative;
    &:after {
      content: '\2014';
      display: inline-block;
      padding: 0 5px;
    }
  }
}