--- 
layout: default 
bodyclass: project 
---

<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1 class="section-title h5">{{ page.title }}</h1>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</section>

<div class="section-about section-wrap">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <div class="about-featured">
          <img src="about-featured__img">
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->

    <div class="row">
      <div class="col-xs-12 col-sm-5 about-meta">
        <div class="about-meta__date">{{ page.year }}</div>
        <div class="about-meta__type">{{ page.type }}</div>
        <div class="about-meta__agency">Agency
          <span class="dash"></span>
          <div>{{ page.agency }}</div>
        </div>
      </div>
      <!--/.about-meta-->
      <div class="col-xs-12 col-sm-7 about-description">
        <p>{{ page.description }}</p>
      </div>
      <!--/.about-description-->
    </div>
    <!--/.row-->

    <div class="row section-wrap text-center about-work-items">
      <div class="col-xs-12 col-sm-6 about-work-items__item">
        <img src="{{ site.baseurl}}/assets/images/{{ page.img1 }}">
      </div>
      <!--/.about-work-item-->
      <div class="col-xs-12 col-sm-6 about-work-items__item">
        <img src="{{ site.baseurl}}/assets/images/{{ page.img2 }}">
      </div>
      <!--/.about-work-item-->
      <div class="col-xs-12 col-sm-12 about-work-items__item about-work-items--is-full">
        <img src="{{ site.baseurl}}/assets/images/{{ page.img3 }}">
      </div>
      <!--/.about-work-item-->
    </div>
    <!--/.row-->

    <div class="row section-wrap about-work-additional-content">
      <div class="col-xs-12">
        {{content}}
      </div>
      <!--/.about-work-additional-content-->
    </div>
    <!--/.row-->

    <div class="row section-wrap text-center">
      <div class="col-xs-12 cta">
        <p>Want to see more?</p>
        <a href="{{site.baseurl}}/work" class="btn hvr-sweep-to-right">Back to work</a>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->

  </div>
  <!--/.container-->
</div>
<!--/.section-about-->