// VARIABLES

// Colors: branding
$color-primary: #000;
$color-secondary:  #AAA;
$color-code: #1bff00;

// Colors: others
$color-body: #111; 
$color-white: #fff; 
$color-gray: #f5f5f5;
$color-black: #000;
$color-alt1: #0069C7;
$color-alt2: #93353F;
$color-alt3: #003C71;
$color-alt4: #2B152C;

// Colors: components
$color-link: darken($color-primary, 5%);
$color-link-hover: darken($color-primary, 15%);
$color-border: #D1D3D4;

// Font Stacks
$font-heading: "aktiv-grotesk",sans-serif;
$font-body: "aktiv-grotesk",sans-serif;
$font-monospace: Menlo, Monaco, monospace;

// Breakpoints, using rems
// #size % 16(default body font-size) == xrem (or, 320%16 ==20)
$bp-xs: 20rem; //320
$bp-sm: 30rem; //480
$bp-md: 50rem; //800
$bp-lg: 62.4375em; //999
$bp-xl: 80rem; //1280

// Sizings
$font-size-body: rem(16);
// Relative sizings if needed to resize body
$font-size-xl: 120%;
$font-size-lg: 110%;
$font-size-sm: 90%;
$font-size-xs: 80%;

// Margins & Pads
$margin-bottom-headings: 0.5rem;
$margin-bottom-paragraphs: 1rem;